<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceFilePath" value="save.json"/>
		<add key="DestinationFilePath" value="save.xml"/>
		<add key="Register" value="0b00000011,0b11001111,0b11110000,0b11111111"/>
		<add key="Powers" value="3,31"/>
		<add key="Encryptable" value="true"/>
	</appSettings>
</configuration>